nav {
    width: 1200px;
    height: 48px;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 48px;

    img {
        cursor: pointer;
    }
}